*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore
/.env
**/google-services.json
.kotlin/
app/build.gradle.kts
build.gradle.kts
gradle/libs.versions.toml
settings.gradle.kts
.idea/codeStyles/
.idea/deploymentTargetSelector.xml
